#welcome-box, #game-box {
  height: 700px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}

#welcome-box #start-btn {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game-box #game-control {
  display: flex;
  justify-content: space-between;
}

#game-box #game-control button {
  border-radius: 0;
}

#game-box #health {
  color: red;
  display: flex;
  justify-content: center;
}

#game-box #health > * {
  margin: 0 5px;
}

#game-box #game-body {
  height: calc(100% - 38px);
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  position: relative;
}

#game-box #game-body > div {
  width: 70px;
  border-left: 1px solid black;
  box-sizing: content-box;
}

#game-box #game-body > div:last-child {
  border-right: 1px solid black;
}

#game-box #game-body .tower-path {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#game-box #game-body .tower-path .mem {
  background-color: orange;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-box #game-body .tower-path .mem * {
  pointer-events: none;
}

#game-box #game-body .tower-path .mem .range {
  background: blue;
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#game-box #game-body #enemy-path .enemy {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over-box {
  height: 700px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}

#game-over-box .reset-btn {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}